html
    head
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway")
        link(rel="styleshhet" href="css/main.css")
    body
        .wrapper
            h1
                | I lovue!
        .link-wrapper
            a(href="about") about page